mixin nav()
    link(rel='stylesheet', href='/css/nav.css')
    div.sidebar
        div.logo
            img(src="/img/logo.png", alt="logo")
        ul.nav-menu
            li
                a(href="#", class="nav-item") 
                    img(src="/img/icon-admision.png", alt="admision")
                    | Recepcion 
                ul.submenu
                    li: a(href="/pacientes/RegistrarAdmision/") Registrar admisiones
                    li: a(href="/admisiones/InternacionPaciente/") Internar paciente
                    li: a(href="/asignaciones/GestionInternacion/") Gestionar internacion
            li
                a(href="#", class="nav-item") 
                    img(src="/img/icon-paciente.png", alt="admision")
                    | Pacientes 
                ul.submenu
                    li: a(href="/pacientes/GestionPaciente/") Gestionar pacientes
            li
                a(href="#", class="nav-item")
                    img(src="/img/icon-medico.png", alt="enfemera")
                    | Personal de salud
                ul.submenu
                    li: a(href="/medicos/GestionMedico/") Ver lista de Medicos
                    li: a(href="/enfermeros/GestionEnfermero/") Ver lista de Enfermeros
            li
                a(href="#", class="nav-item")  
                    img(src="/img/icon-habitacion.png", alt="habitacion")
                    | Habitaciones
                ul.submenu
                    li: a(href="/habitaciones/ListaHabitacion/") Consultar estado de las habitaciones
            li
                a(href="#", class="nav-item") 
                    img(src="/img/icon-evaluacion.png", alt="habitacion")
                    | Evaluaciones 
                ul.submenu
                    li: a(href="*") Registrar evaluacion medica
                    li: a(href="*") Registrar evaluacion de enfermeria
                    li: a(href="*") Registrar signos vitales del paciente
                    li: a(href="*") Consultar evaluaciones por paciente