doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registrar admision
    link(rel="stylesheet", href="/css/VistaPaciente.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
    script(src="/js/DataTableAdmision.js")
    script(src="/js/Internacion.js")
  body
    .container
      include ../includes/nav.pug
      include includes/tablaAdmision.pug
      include includes/modalInternacion.pug
      include includes/formInternacion.pug

      +nav()
      +tablaAdmision(admisiones)
      +modalInternacion()