mixin formPaciente(action="/pacientes/actualizar", seguros=[])
  form#form-paciente(method="POST", action=action)
    input(type="hidden", name="id_paciente", id="edit-id")
    div
      label(for="edit-nombre") Nombre:
      input(type="text", name="nombre", id="edit-nombre", required)
    div
      label(for="edit-apellido") Apellido:
      input(type="text", name="apellido", id="edit-apellido", required)
    div
      label(for="edit-telefono") Teléfono:
      input(type="text", name="telefono", id="edit-telefono", required)
    div
      label(for="edit-domicilio") Domicilio:
      input(type="text", name="domicilio", id="edit-domicilio", required)
    div
      label(for="edit-fecha_nacimiento") Fecha nacimiento:
      input(type="date", name="fecha_nacimiento", id="edit-fecha_nacimiento", required)
    div
      label(for="edit-documento") Documento:
      input(type="text", name="documento", id="edit-documento", required)
    div
      label(for="edit-genero") Género:
      select(name="genero", id="edit-genero", required)
        option(value="Masculino") Masculino
        option(value="Femenino") Femenino
        option(value="Otro") Otro
    div
      label(for="edit-estatura") Estatura:
      input(type="text", name="estatura", id="edit-estatura", required)
    div
      label(for="edit-peso") Peso:
      input(type="text", name="peso", id="edit-peso", required)
    div
      label(for="edit-seguro") Seguro médico:
      select(name="id_seguro", id="edit-seguro", required)
        option(disabled selected value="") -- Seleccione un seguro --
        option(value="null") No posee seguro médico
        each seguro in seguros
          option(value=seguro.id_seguro)= seguro.nombre
    div
      button(type="submit") Guardar Cambios
      button(type="button", id="cerrar-modal") Cancelar
