mixin formAdmision(action="/admisiones/registrar")
  h1 Registrar admisión
  h5 Datos sobre el paciente
  br
  form#form-admision(method="POST", action=action)
    input(type="hidden", name="id_paciente", id="llenar-id")
    div
      label(for="llenar-nombre") Nombre:
      input(type="text", name="nombre", id="llenar-nombre", readonly)
    div
      label(for="llenar-apellido") Apellido:
      input(type="text", name="apellido", id="llenar-apellido", readonly)
    div
      label(for="llenar-documento") Documento:
      input(type="text", name="documento", id="llenar-documento", readonly)
    div
      label(for="registro-tipo") Via de ingreso:
      select(name="id_tipo", id="registro-tipo", required)
        option(disabled selected value="") -- Seleccione el ingreso --
        each ingreso in ingresos
          option(value=ingreso.id_tipo)= ingreso.descripcion
    div
      label(for="registro-motivo") Motivo:
      select(name="id_motivo", id="registro-motivo", required)
        option(disabled selected value="") -- Seleccione el motivo --
        each motivo in motivos
          option(value=motivo.id_motivo)= motivo.descripcion
    div
      label(for="llenar-fecharInternar") Fecha para internar:
      input(type="date", name="fechaInternar", id="llenar-fecharInternar")

    div
      label(for="registro-detalles") Detalles:
      input(type="text", name="detalles", id="registro-detalles")
    div
      button(type="submit") Admitir paciente
      button(type="button", id="cerrar-modal") Cancelar
