include ../includes/formPacientes.pug
mixin modalPaciente()
  #modal-editar.hidden
    .modal-contenido
      h2 Editar Paciente
      +formPaciente("/pacientes/actualizar", "edit-id")

mixin modalAdmision()
  #modal-registrarAdmision.hidden
    .modal-contenido
      h2 Registrar Admisión
      +formPaciente("/admisiones/registrar", "edit-id")
