doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
        script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
        script(src="/js/DataTablePaciente.js")
    body
        h1 PROBANDO QUE SUCEDE

        table#tablaPaciente
            thead
                tr
                    th Nombre
                    th Apellido
                    th Edad 
                    th Genero 
                    th Documento 
            tbody
                each paciente in pacientes 
                    tr
                        td = paciente.Nombre 
                        td = paciente.Apellido 
                        td = paciente.Edad 
                        td = paciente.Genero 
                        td = paciente.Documento
